{% extends "account/base.html" %}

{% block title %}
  Welcome
{% endblock title %}

{% block inner %}
  <div class="jumbotron">
    <h1 class="display-4">Track your tasks</h1>
    <p class="lead">
      Make your own To-do lists, and keep a list of the topics you're working on. Whenever you work on something new, make an entry summarizing what you need to do.
    </p>
    {% if user.is_authenticated %}
      <a class="btn btn-lg btn-primary" href="{% url 'index' %}" role="button">View Your Tasks »</a>
    {% else %}
      <a class="btn btn-lg btn-primary"
         href="{% url 'account_signup' %}"
         role="button">Register »</a>
    {% endif %}
  </div>
{% endblock inner %}
