{% extends "base.html" %}

{% block content %}
<div>
  <div>
    <div>
      <h3>Edit list:</h3>
      <h5><strong>{{ todo_list.title }}</strong></h5>
    </div>
    <ul>
      {% for todo in object_list %}
      <li>
        <div>
        <a class="btn btn-info" href="{% url 'item-update' todo_list.id todo.id %}">
            {{ todo.title }}
            (Due {{ todo.due_date | date:"l, F j" }})
        </a>
        </div>
      </li>
      {% empty %}
      <p>There are no to-do items in this list.</p>
      {% endfor %}
    </ul>
    <p>
      <a class="btn btn-success" href="{% url 'item-add' todo_list.id %}">Add a new item</a>
      <a class="btn btn-danger" href="{% url 'list-delete' todo_list.id %}">Delete this list</a>
    </p>
  </div>
</div>
{% endblock %}
