{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name = "viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  <title>Djangdo To-do Lists</title>
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}"/>
</head>

<body>
  <div>
    <h1 onclick="location.href='{% url "index" %}'">
      Djangdo To-do Lists
    </h1>
  </div>
  <div>
    {% block content %}
    This content will be replaced by different html code for each page.
    {% endblock %}
  </div>
</body>

</html>
