{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name = "viewport" content="width=device-width, initial-scale=1">
  <title>Djangdo To-do Lists</title>
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}"/>
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">
    <a class="navbar-brand" href="{% url 'index' %}">Djangdo</a>
  </nav>
  <div>
    <h2 onclick="location.href='{% url "index" %}'">
      Djangdo To-do Lists
    </h2>
  </div>
  <div>
  <main role="main" class="container">
    <div class="pb-2 mb-2 border-bottom">
      {% block page_header %}{% endblock page_header %}
    </div>
    <div>
      {% block content %}
      {% endblock content %}
    </div>
  </main>
  </div>
</body>

</html>
